@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap");

ul {
  padding: 0;
}

body {
  font-family: "Inter";
  font-weight: 600;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

header {
  padding-top: 1%;
}

.head-content {
  display: flex;
  justify-content: space-around;
}

.menu__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 50px;
}

.menu__item {
  list-style: none;
  font-weight: bold;
  margin-left: 20px;
}

.numbers__head {
  display: flex;
  justify-content: space-between;
}

.head-arrows a {
  font-size: 40px;
  color: #0a8077;
  margin-left: 25px;
  font-weight: 100;
}

.head-arrows span:hover {
  transition: all 0.5s;
  background-color: rgb(207, 205, 205);
}

.head-arrows span {
  padding: 0 5px;
  background-color: rgb(233, 233, 233);
}

.menu__item:hover {
  color: #0a8077;
}

.active {
  color: #0a8077 !important;
}

.head-title {
  font-size: 52px;
}

.nums {
  padding-top: 5%;
}

.select-menu {
  list-style: none;
}

.select-items:hover {
  color: #0a8077;
}

.select-items {
  font-size: 32px;
  color: rgba(64, 64, 64, 0.83);
  margin-top: 40px;
}


.card-description {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
}

.card-img img {
  max-width: 100%;
  width: 350px;
  border-radius: 10%;
}

figure {
  border: none !important;
}

.info {
  color: #0a8077;
}

.numbers-select {
  min-width: 30%;
}

.price {
  font-size: 27px;
}

.search input,
.search {
  width: 90%;
}

.search img {
  width: 18px;
  max-width: 100%;
}

.tbl {
  padding-top: 5%;
  min-height: calc(80vh - 80px);
}

.btn-in, .btn-add {
  background: #30655b;
  border-radius: 8px;
  color: white;

}

.btn-evict{
  background: #7c282c;
  color:white;
}

.pgn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}
.modal-show {
  width: 100%;
  max-width: 1200px;
  background: #f9f9f9;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px black;
}

.modal-guest .card{
  min-width: 300px;
}

.hidden{
    display:none;
}

.guest-numbers{
    margin-top: 3%;
}

.submit{
  margin:1% 0;
}

.group input:nth-child(2){
  margin-left:20px;

}

.group{
  display: flex;
}

.modal-close{
    position: absolute;
    cursor: pointer;
    right:10px;
    font-size: 24px;
}

.img-icon{
  width: 10px;
}

.out-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button{
  margin-top: 5%;
}

.guest-top .button{
  margin-top:1%;
  display: flex;
  
}

.out-container .btn{
  background: #7c282c;
  padding: 10px 20px;
  min-width: 200px;
  
}

.notavailable{
  color: #7c282c;
}

.numbers-card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

.card{
  min-width: 375px;
  margin-bottom: 20px;
}

.out-date, .out-price{
  font-size: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 5%;
}

.add-guest{
  display: flex;
  margin:0 auto;
  max-width: 50%;
}

.select-date{
  margin-top:3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-date input, select{
  margin-right:20px;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width:1300px){
  .container{
    max-width: 1000px;
  }
}

@media (max-width:769px){
  .container{
    max-width: 700px;
  }

  .nums{
    flex-direction: column;
  }

  .card{
    width: 50%;
  }

  .numbers-select{
    width: 100%;
  }

  .select-menu{
    display: flex;
    justify-content: center;
  }

  .select-menu li{
    padding-left:20px;
  }

  .card-img img{
    width: 250px;
  }
}