@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap");

ul {
  padding: 0;
}

body {
  font-family: "Inter";
  font-weight: 600;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

header {
  padding-top: 1%;
}

.head-content {
  display: flex;
  justify-content: space-around;
}

.menu__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 50px;
}

.menu__item {
  list-style: none;
  font-weight: bold;
  margin-left: 20px;
}

.numbers__head {
  display: flex;
  justify-content: space-between;
}

.head-arrows a {
  font-size: 40px;
  color: #0a8077;
  margin-left: 25px;
  font-weight: 100;
}

.head-arrows span:hover {
  transition: all 0.5s;
  background-color: rgb(207, 205, 205);
}

.head-arrows span {
  padding: 0 5px;
  background-color: rgb(233, 233, 233);
}

.menu__item:hover {
  color: #0a8077;
}

.active {
  color: #0a8077 !important;
}

.head-title {
  font-size: 52px;
}

.nums {
  padding-top: 5%;
}

.select-menu {
  list-style: none;
}

.select-items:hover {
  color: #0a8077;
}

.select-items {
  font-size: 32px;
  color: rgba(64, 64, 64, 0.83);
  margin-top: 40px;
}


.card-description {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
}

.card-img img {
  max-width: 100%;
  width: 350px;
  border-radius: 10%;
}

figure {
  border: none !important;
}

.info {
  color: #0a8077;
}

.numbers-select {
  min-width: 30%;
}

.price {
  font-size: 27px;
}

.search input,
.search {
  width: 90%;
}

.search img {
  width: 18px;
  max-width: 100%;
}

.tbl {
  padding-top: 5%;
  min-height: calc(80vh - 80px);
}

.btn-in, .btn-add {
  background: #30655b;
  border-radius: 8px;
  color: white;

}

.btn-evict{
  background: #7c282c;
  color:white;
}

.pgn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}
.modal-show {
  width: 100%;
  max-width: 1200px;
  background: #f9f9f9;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px black;
}

.modal-guest .card{
  min-width: 300px;
}

.hidden{
    display:none;
}

.guest-numbers{
    margin-top: 3%;
}

.submit{
  margin:1% 0;
}

.group input:nth-child(2){
  margin-left:20px;

}

.group{
  display: flex;
}

.modal-close{
    position: absolute;
    cursor: pointer;
    right:10px;
    font-size: 24px;
}

.img-icon{
  width: 10px;
}

.out-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button{
  margin-top: 5%;
}

.guest-top .button{
  margin-top:1%;
  display: flex;
  
}

.out-container .btn{
  background: #7c282c;
  padding: 10px 20px;
  min-width: 200px;
  
}

.notavailable{
  color: #7c282c;
}

.numbers-card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

.card{
  min-width: 375px;
  margin-bottom: 20px;
}

.out-date, .out-price{
  font-size: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 5%;
}

.add-guest{
  display: flex;
  margin:0 auto;
  max-width: 50%;
}

.select-date{
  margin-top:3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-date input, select{
  margin-right:20px;
}

.doxod{
  font-size: 24px;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width:1300px){
  .container{
    max-width: 1000px;
  }
}
@media (max-width:600px) {
  .container{
    max-width: 400px;
  }
}
@media (max-width:769px){
  .numbers.container{
    max-width: 600px;
    padding-top:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .select-date input,select{
    margin:10px 0;
  }

  .statistic{
    margin-top: 20px;
  }

  .statistic .card{
    min-width: 351px;
  }

  .select-date{
    flex-direction: column;
    align-items: unset;
  }

  .numbers-card{
    justify-content: center;

  }

  .head-content{
    flex-direction: row-reverse;
  }

  .nums{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card{
    max-width: 18rem;
  }

  .numbers-select{
    width: 100%;
  }

  .select-menu{
    display: flex;
    justify-content: center;
  }

  .select-menu li{
    padding-left:20px;
  }

  .card-img img{
    width: 250px;
  }

  .menu__items{
    flex-direction: column;
    position: absolute;
    z-index: 1;
    display: none;
    align-items: center;
    background: rgba(64, 64, 64, 0.83);
    padding:50px 0;
  }

  .content__items, .menu{
    width: 100%;
    position: absolute;
  }


  .menu__item {
    margin:10px 0;
  }
  

  .hamburger {
    z-index: 2;
    display: block;
    width: 35px;
    height: 4px;
    background: #009688;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: 0.5s;
  }

  .menu{
    position: relative;
  }
  .hamburger::before {
    top: 12px;
  }
  
  .hamburger::after {
    top: 25px;
  }  
  .icon-one {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  
  .hamburger-one:before,
  .hamburger-one:after {
    content: '';
    position:absolute;
    width: 35px;
    height: 4px;
    background:#009688;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition:0.5s;
  }
  
  .active-one .hamburger-one {
    background:rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }
  
  .active-one .hamburger-one:before {
    top: 10px;
    transform:rotate(45deg);
  }
  
  .active-one .hamburger-one:after {
    top: 10px;
    transform:rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
  

}

@media (max-width:425px) {
  .head-content{
    justify-content: space-between;
  }

  .card{
    min-width: 100px;
    max-width: 220px;
  }
  .numbers-card{
    justify-content: unset;
  }
}
